body {
  background-color: black;
  /* overflow: hidden; */
}

:root {
  color-scheme: dark;
}

.fade-content {
  position: relative;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.navbar-brand {
  font-family: "Playfair Display", sans-serif !important;
  letter-spacing: .13rem;
  font-weight: 500;
  font-size: 30px;
}

.navbar-nav {
  font-family: "PT Serif", sans-serif;
  letter-spacing: .13rem;
  font-weight: 500;
}

nav {
  font-family: "PT Serif", sans-serif;
  margin-left: 20px;
  background-color: #29292b00;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translate(0, 50px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

#pre_comments {
  white-space: pre;
}

.bg-transparent {
  border-color: black;
  border-radius: 0px;
  border-width: 2px;
}

.bg-transparent:hover {
  border-color: #bbbbbb;
  color: #bbbbbb;
  transition: 0.2s;
}

.btn-quick {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
  border-width: 3px;
  opacity: 0;
  border-color: whitesmoke;
  color: whitesmoke;
}

.btn-quick:hover {
  background-color: whitesmoke;
  opacity: 1;
  border-color: whitesmoke;
  color: #323232;
}

.dropdown .dropdown-menu {
  display: block;
  margin-top: 0;
  opacity: 0;
  left: 20px;
  transition: 0.4s;
}

.dropdown-item {
  color: whitesmoke;
  background: transparent;
  opacity: 50%;
  transition: 0.4s;
}

.dropdown-item:hover {
  opacity: 100%;
  transition: 0.4s;
  color: whitesmoke;
  background: transparent;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  left: 0px;
  transition: 0.4s;
}

.dropdown-menu {
  background-color: #32323254;
  border-radius: 20px;
  color: whitesmoke;
  opacity: 0;
  transition: 0.4s;
}

a.dropdown-item {
  color: whitesmoke;
}

.video-container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container .bg-video {
  min-width: 100%; 
  min-height: 100%; 

  width: auto;
  height: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.text-block {
  letter-spacing: .15rem;
  font-family: "Playfair Display", sans-serif;
  position: absolute;
  padding-left: 1%;
  padding-top: 5%;
  padding-bottom: 5%;
  left: 1%;
  width: 70%;
  top: 8%;
  background-image: radial-gradient(hsla(0, 0%, 0%, 0.75), #00000000);

  .btn-quick{
    position: relative;
    opacity: 0;
    transition: 0.4s;
    top: -20px;
  }  
}

.text-block:hover {
  .btn-quick{
    position: relative;
    opacity: 1;
    transition: 0.4s;
    top: 0px;
  }
}

.dropdown-toggle {
  color: hsla(0, 0%, 100%, 0.55) !important;
}

.dropdown-toggle:hover {
  color: hsla(0, 0%, 100%, 0.7) !important;
}

.nametitle {
  font-size: 76px;
  color: whitesmoke;
  font-weight: 600;
  text-align: left;
}

.subtitle {
  font-size: 30px;
  color: whitesmoke;
  opacity: 80%;
  margin-top: -10px;
  margin-bottom: 30px;
  font-weight: 400;
  text-align: left;
}

.bullet {
  font-size: 20px;
  color: hsla(0, 0%, 96%, 0.8);
  opacity: 80%;
  margin-top: -10px;
  margin-bottom: 30px;
  margin-left: 20px;
  font-weight: 400;
  text-align: left;
}

.container {
  text-align: center;
}

.pitt-image {
  position: absolute;
  scale: 90%;
  top: 60%;
}